body
{
    margin: 0;
    background-color: #D3D3D3;
}

div.homeBlogCards
{
    background-color: #ebebeb;
}

div.side_nav
{
    background-color: #ebebeb;
    font-size: 150%;
    padding-bottom: 100%;
    margin-bottom: -100%;    
}

ul.side_nav_ul
{
    padding-left: 5px;
}

div.login
{
    margin-top: 5%;
    margin-bottom: 5%;
}

div.aboutContainer
{
    background-color: #ebebeb;
    font-size: 150%;
    position: relative;
}

div.blogContainer
{
    background-color: #ebebeb;
    font-size: 150%;
    position: relative;
    padding: 10px;
}

div.aboutHeader
{
    position: absolute;
    top: 50%;
    left:20%;
    margin-top: 10px;
}

div.postHeader
{
}

div.aboutContent
{
    background-color: #ebebeb;
    position: relative;
}

hr.about
{
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
}

p.aboutTitle
{
    font-size: 150%;
}